/* .time {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    gap: 20px;
    font-size: 30px;
}
.btns{
    text-align: center;
    gap: 10px;
}
.hour {
    color:rgb(176, 2, 2)
}
.minutes {
    color:rgb(31, 191, 74)
}
.seconds {
    color:rgb(16, 21, 173)
} */
